html {
	@media (max-width: 475px) {
		font-size: 15px;
	}
}
input[type="text"]::-ms-clear {
	display: none;
}
input[type="text"]:focus {
	outline: none
}
textarea {
	resize: none;
}
textarea:focus {
	outline: none;
}
button:focus {
	outline: none;
}
.container {
	max-width: 980px;
	margin: auto;
	padding: 10px;

	@media (max-width: 475px) {
		padding: 0;
	}
}
.b-card {
	font-family: 'Roboto', 'Arial', sans-serif;
	border: 1px solid #eee;
	border-bottom: none;
	border-right: none;
}
