$basic-grey: #e6e6e6;
$basic-font-grey: #4c4c4c;
$basic-black: #000;
$basic-white: #fff;
$skill-dark-grey: #5c5c5c;
$skill-light-grey: #a2a2a2;
$input-outline: #bababa;
$skill-input-outline: #00fe00;
$skill-input-value-btn: #ececec;